html,body{
  font-family:"Courier", serif;

    	color:black;

    margin:0;
  padding:15px;
  background-color:white;
  background-image:url(images/noiseTidal.jpeg);
  background-size:auto;
  background-repeat:repeat;
  background-attachment: fixed;
}

img{
	border:3px solid #b0b0b0;
}

#imgrow{
   display: inline-block;

}

.imgsquare{
    max-height:auto;
    max-width:10%;
    border:0px;
    margin:0 0;
}

.noBorder{
	border:0px;
	max-width:95%;
}

.vidstreampanel{

       display: flex;

    }

#nav{
	font-size:1.5em;
}

#siteTitle{
 font-size:4em;
  
}


#header,#meat{
	position:static;
	clear:both;
	padding-left:10px;
	padding-right:10px;
}

#header{
    display:inline-block;
    font-weight: bold;
	width:100%;
  color:#ffd900;
 
  padding-bottom: 10px;
}


.footnote{
    font-size:0.75em;
}

a{
	text-decoration:none;
	color:#45FFF6;
}

.mainLink
{

 color: black;
}

.normLink,a{

   color: #ad5f5f;

}

.tabLink
{
    color:black;
}

a:hover,.tabLink:hover,.mainLink:hover{
	color:#ffaa55;
}

.subtitle{
	font-size:1.5em;
	font-weight:bold;
	padding-bottom:3px;
}

.subsub{
	padding-bottom:3px;
	font-size:1.5em;
	font-weight:bold;
}

.subsec{
	padding-left:20px;
	padding-bottom:10px;
}



.tabLinkSel,.sel{
    color:#ffaa55;
 cursor:pointer; 
}

.notSel:hover{

	color:#ffaa55;
}
.notSel{
color:#ad5f5f;
	background:transparent;
  cursor:pointer;
}

.clickImg
{
max-width:10%;
}

.clickImg:hover{
fill:#45fff6;

}


.embedplay
{
max-width:100%;
}

iframe
{
max-width:100%;
}

@media(max-width: 1080px)
{

    #nav{
	font-size:20px;
}

#siteTitle{
 font-size:40px;
  
}

html,body
{
padding:3px;
}

#header,#meat{
	padding-left:3px;
	padding-right:3px;
}
#header
{
    padding-bottom:3px;
}
}
